:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

::selection {
  background: #a51f38;
  color: #fffafa;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #090708;
}

::-webkit-scrollbar-thumb {
  background: #641927;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a51f38;
}
